h1 {
    border: 1px solid black;
    background-color: lightblue;
}
p {
    background-color: lightpink;
    border: 1px solid black;
}
ol {
    background-color: lightgreen;
    border: 1px solid black;
}
li {
    background-color: lightseagreen;
    border: 1px solid black;
}