body {
    text-align: center;
}

h1 {
    margin: 16px 300px;
    padding: 36px;
    border: 1px solid black;
}

p {
    margin: 16px 300px;
    padding: 36px;
    border: 1px solid black;
}

img {
    /* text-align: center; */
    margin: 16px 300px;
    padding: 36px;
    border: 1px solid black;
}