h1 {
    background-color: lightskyblue;
    margin: 36px;
    padding: 48px;
    border: 5px solid black;
}

img {
    background-color: lightgreen;
    margin: 36px;
    padding: 48px;
    border: 5px solid black;
}